@import "compass/css3";

@import "compass/css3";
/* @import url(https://fonts.googleapis.com/css?family=Lato:400,700,900); */

.Join-us .container {
  margin: 0 auto;
  width: 90%;
  max-width: 1200px;
}
.Join-us .group:after {
  content: "";
  display: table;
  clear: both;
}

/* pricing option 2 */

.Join-us .grid-1-5 {
  border-radius: 10px;
  border: 2px solid #5d4e65;   
  min-height: 400px;
  padding: 1.25em;
  position: relative;
  text-align: center;
  transition: all .2s ease-in-out;
  
  @media screen and (min-width: 700px) {
    & {
      float: left;
      width: 50%;
    }
    &:nth-child(odd) {
      clear: left;
    }
  }
  
  @media screen and (min-width: 800px) {
    & {      
      width: 33.3333333%;
    }
    &:nth-child(3n+1) {
      clear: left;
    }
    &:nth-child(odd) {
      clear: none;
    }    
  }
  
  @media screen and (min-width: 1120px) {
    & {
       width: 20%;
    }
    &:nth-child(odd), &:nth-child(3n+1) {
       clear: none;
    }    
  }
  
}
.Join-us .grid-1-5:hover {
  background-color: rgb(83,69,91);
  @include filter-gradient(#53455b, #201d22, vertical);
  @include background-image(linear-gradient(top,  rgba(83,69,91,1) 0%,rgba(32,29,34,1) 100%));  
  border-top: 2px solid #ec7a37;
  border-bottom: 2px solid #ff4f69;
  /* box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 1); */
  transform: scale(1.025);
  z-index: 2;
  /* height: 425px; */

  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  -webkit-transform: translateY(-15px);
  -ms-transform: translateY(-15px);
  transform: translateY(-15px);
  -webkit-box-shadow: 0px 50px 20px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.3);

  &:before, &:after {
    content: ""; 
    position: absolute; 
    background-color: rgb(246,125,53);
    @include filter-gradient(#f67d35, #ff4f68, vertical);
    @include background-image(linear-gradient(top,  rgba(246,125,53,1) 0%,rgba(255,79,104,1) 100%));
    top: -2px; 
    bottom: -2px; 
    width: 2px;    
  }

  &:before { 
    left: -2px; 
  }
  &:after { 
    right: -2px; 
  }  

  & .button {
    background-color: rgb(238,122,54);
    @include filter-gradient(#ee7a36, #eb495d, horizontal);
    @include background-image(linear-gradient(left,  rgba(238,122,54,1) 0%,rgba(235,73,93,1) 100%));    
  }
}
/* .Join-us h2, .Join-us h3, .Join-us  p, .Join-us ul {
  margin: 0
}
.Join-us h2 {
  font-size: 1em;
  font-weight: 400;
  margin: 0 0 0.5em;
}
.Join-us h3 {
  font-size: 1.5em;
  letter-spacing: 0.0625em;
  margin: 0 0 0.3333333333333333em;
}

.Join-us p {
  font-size: 0.875em;  
}

.Join-us p, ul {
  margin:0 0 1.5em
}

.Join-us ul {
  color: #796583;
  font-size: 0.75em;
  list-style-type: none;
  padding: 0;
} */

.Join-us li {
    /* margin: 0 0 0.8333333333333333em; */
    font-family: 'Montserrat', sans-serif;
    /* font-weight: 700; */
    color: #99999e70;
}

.Join-us .button {
  background-color: #9c83aa;
  border-radius: 20px;
  color: #fff;
  font-size: 1em;
  font-weight: 700;
  padding: 0.75em 1.5em;
  position: absolute;
  bottom: 1.25em;
  left: 50%;
  margin-left: -60px;
  text-decoration: none;
  width: 120px;
}

.Join-us .uppercase, .button, h2 {
  text-transform: uppercase;
}

.Join-us sup, .small {
  font-size: 0.6125em;
}

/* Separator */

.h-divider {
  margin: auto;
  margin-top: 70px;
  width: 80%;
  position: relative;
}

.h-divider .shadow {
  overflow: hidden;
  height: 20px;
}

.h-divider .shadow:after {
  content: '';
  display: block;
  margin: -25px auto 0;
  width: 100%;
  height: 25px;
  border-radius: 125px/12px;
  box-shadow: 0 0 8px black;
}

.h-divider .text {
  width: 100px;
  height: 45px;
  padding: 10px;
  position: absolute;
  bottom: 100%;
  margin-bottom: -33px;
  left: 50%;
  margin-left: -60px;
  border-radius: 100%;
  box-shadow: 0 2px 4px #999;
  background: white;
}

.h-divider .text i {
  position: absolute;
  top: 4px;
  bottom: 4px;
  left: 4px;
  right: 4px;
  border-radius: 100%;
  border: 1px dashed #aaa;
  text-align: center;
  line-height: 50px;
  font-style: normal;
  color: #999;
}

.h-divider .text2 {
  width: 70px;
  height: 70px;
  position: absolute;
  bottom: 100%;
  margin-bottom: -35px;
  left: 50%;
  margin-left: -25px;
  border-radius: 100%;
  box-shadow: 0 2px 4px #999;
  background: white;
}

.h-divider img {
  position: absolute;
  margin: 4px;
  max-width: 60px;
  border-radius: 100%;
  border: 1px dashed #aaa;
}